* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background: #222;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

/*----------------------Header-----------------------*/

nav {
    background: #70b4c3;
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    width: 100vw;
    position: fixed;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.flex-container {
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-item {
    margin: 10px;
    padding: 20px 20px;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
    max-width: 350px;
}

.flex-item__dif {
    margin: 10px;
    padding: 20px 20px;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
    max-width: 350px;
}

.flex-container li:hover {
    text-shadow: 5px 5px 10px #000;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(51,51,51,0.4) 100%);
    height: 70px;
    border-radius: 20px;
}

.flex-container li a:active {
    color: #333;
}

.menu-vertical { 
    background: #5b97a4;
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    padding: 30px 10px 10px 10px;
    margin-left: 120px;
}

.flex-container > li:hover .menu-vertical {
    display: block;
    top: 80px;
    border-radius: 20px;
}

.menu-vertical .item-menu-vertical {
    padding: 10px 20px;
    text-align: left;
    text-shadow: none;
}

/*.item-menu-vertical:hover {
    background-color: #0005;
}*/

.item-menu-vertical:active {
    color: #333;
}

.logo {
    text-align: center;
    padding: 10px;
    margin: 10px 100px 0px 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

.fa-solid {
    font-size: 1.5em;
    margin-right: 10px;
}

/*--------------------------Main-------------------*/

main {
    width: 90%;
    background: rgb(241, 241, 241);
    background: radial-gradient(circle, rgba(241, 241, 241, 1) 0%, rgba(209, 209, 209, 1) 100%);
    margin: auto;
    padding-top: 120px;
}

h1 {
    color: #207498;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.8em;
}

h4 {
    font-family: 'Red Hat Display', sans-serif;
}

p {
    font-family: 'Space Grotesk', sans-serif;
}

/*FORM*/

form {
    font-family: 'Red Hat Display', sans-serif;
}

.asterisco {
    color:#d00;
}

/*LISTAS fuera del nav*/

li {
    list-style: none;
}

.liLinks a {
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    color: #222;
    padding: 0 0 0 20px;
}



/*---------------------------------Footer--------------------------*/

footer {
    font-family: 'Red Hat Display', sans-serif;
    background: #2f545c;
    color: #fff;
    width: 100vw;
}

address, .footer__mail a, .footer__p {
    font-size: 0.8em;
}

.footer__mail a {
    color: #fff;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
}


